body{
    width: 1000px;
    margin: 0 auto;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
.login{
    width: 225px;
    margin-left: 404px;
    margin-top: 127px;

}
.register{
    width: 344px;
}
input[type=text]:focus {
    border: 3px solid #555;
}
input[type=password]:focus {
    border: 3px solid #555;
}
input[type=file]{
    padding: 9px 15px 10px;
    display: inline-block;
    margin: 0;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 11px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    float: left;
}

input[type=submit]:hover {
    background-color: #4CAF50;
    color: white;
}


a:link, a:visited {
    background-color: white;
    border: 2px solid #3cdaf4;

    color: black;
    padding: 11.5px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 4px;
    margin-left: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
a:hover, a:active {
    background-color: #e3f4f2;
}
table, td {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    padding: 15px;
}

.message{
    width: 329px;
    margin: 0 auto;
}
.message input[type=submit]{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    float: left;
}


